@media screen and (max-width: 1200px) {
    p {
      font-size: 130%;
    }
    h3 {
      font-size: 150%;
    }

    a {
      font-size: 20px;
    }

    header {
      height: 80px;
      position: relative;
    }
    header #logo {
      margin: 15px 0 20px -25px;
    }
  
    nav ul li {
      padding: 10px;
      margin-bottom: 30px;
    }

    .info {
      float: right;
      width: 100%;
      text-align: center;
    }

    .info ul li {
      display: block;
      padding: 30px;
  }

    .contenido {
      float: left;
      width: 100%;
  
    }
    .icono {
      height: 80px;
      width: 80px;
      margin-top: 3%;
    }
  
    .icono i {
      font-size: 250%;
      padding-top: 27%;
    }

   
    .contacto {
      width: 100%;
      padding: 2% 0 0 0;
      font-size: 80%;
    }
  
    .footer-nav {
      margin: 0 auto;
      text-align: center;
      padding: 5%;
    }
  
    .footer-nav li {
      padding: 1%;
    }
  
  }

  @media screen and (max-width: 970px) {
    p {
      font-size: 130%;
    }
    h3 {
      font-size: 150%;
    }

    a {
      font-size: 20px;
    }
    
    header {
      height: 80px;
      position: relative;
    }
    header #logo {
      margin: 15px 0 20px -25px;
    }
  
    nav ul li {
      padding: 10px;
      margin-bottom: 30px;
    }

    .info {
      float: right;
      width: 100%;
      text-align: center;
    }

    .info ul li {
      display: block;
      padding: 30px;
  }

    .contenido {
      float: left;
      width: 100%;
  
    }
    .icono {
      height: 80px;
      width: 80px;
      margin-top: 3%;
    }
  
    .icono i {
      font-size: 250%;
      padding-top: 27%;
    }

   
    .contacto {
      width: 100%;
      padding: 2% 0 0 0;
      font-size: 80%;
    }
  
    .footer-nav {
      margin: 0 auto;
      text-align: center;
      padding: 5%;
    }
  
    .footer-nav li {
      padding: 1%;
    }
  
  }
  @media screen and (max-width: 767px) {
    p {
      font-size: 130%;
    }
    h3 {
      font-size: 150%;
    }

    a {
      font-size: 20px;
    }
    
    header {
      height: 80px;
      position: relative;
    }
    header #logo {
      margin: 15px 0 20px -25px;
    }
  
    nav ul li {
      padding: 10px;
      margin-bottom: 30px;
    }

    .info {
      float: right;
      width: 100%;
      text-align: center;
    }

    .info ul li {
      display: block;
      padding: 30px;
  }

    .contenido {
      float: left;
      width: 100%;
  
    }
    .icono {
      height: 80px;
      width: 80px;
      margin-top: 3%;
    }
  
    .icono i {
      font-size: 250%;
      padding-top: 27%;
    }

   
    .contacto {
      width: 100%;
      padding: 2% 0 0 0;
      font-size: 80%;
    }
  
    .footer-nav {
      margin: 0 auto;
      text-align: center;
      padding: 5%;
    }
  
    .footer-nav li {
      padding: 1%;
    }
  
  }
  @media screen and (max-width: 600px) {
    p {
      font-size: 130%;
    }
    h3 {
      font-size: 150%;
    }

    a {
      font-size: 20px;
    }
    
    header {
      height: 80px;
      position: relative;
    }
    header #logo {
      margin: 15px 0 20px -25px;
    }
  
    nav ul li {
      padding: 10px;
      margin-bottom: 30px;
    }

    .info {
      float: right;
      width: 100%;
      text-align: center;
    }

    .info ul li {
      display: block;
      padding: 30px;
  }

    .contenido {
      float: left;
      width: 100%;
  
    }
    .icono {
      height: 80px;
      width: 80px;
      margin-top: 3%;
    }
  
    .icono i {
      font-size: 250%;
      padding-top: 27%;
    }

   
    .contacto {
      width: 100%;
      padding: 2% 0 0 0;
      font-size: 80%;
    }
  
    .footer-nav {
      margin: 0 auto;
      text-align: center;
      padding: 5%;
    }
  
    .footer-nav li {
      padding: 1%;
    }
  
  }
  @media screen and (max-width: 400px) {
    p {
      font-size: 130%;
    }
    h3 {
      font-size: 150%;
    }

    a {
      font-size: 20px;
    }
    
    header {
      height: 80px;
      position: relative;
    }
    header #logo {
      margin: 15px 0 20px -25px;
    }
  
    nav ul li {
      padding: 10px;
      margin-bottom: 30px;
    }

    .info {
      float: right;
      width: 100%;
      text-align: center;
    }

    .info ul li {
      display: block;
      padding: 30px;
  }

    .contenido {
      float: left;
      width: 100%;
  
    }
    .icono {
      height: 80px;
      width: 80px;
      margin-top: 3%;
    }
  
    .icono i {
      font-size: 250%;
      padding-top: 27%;
    }

   
    .contacto {
      width: 100%;
      padding: 2% 0 0 0;
      font-size: 80%;
    }
  
    .footer-nav {
      margin: 0 auto;
      text-align: center;
      padding: 5%;
    }
  
    .footer-nav li {
      padding: 1%;
    }
  
  }

  @media screen and (max-width: 320px) {
    p {
      font-size: 130%;
    }
    h3 {
      font-size: 150%;
    }

    a {
      font-size: 20px;
    }
    
    header {
      height: 80px;
      position: relative;
    }
    header #logo {
      margin: 15px 0 20px -25px;
    }
  
    nav ul li {
      padding: 10px;
      margin-bottom: 30px;
    }

    .info {
      float: right;
      width: 100%;
      text-align: center;
    }

    .info ul li {
      display: block;
      padding: 30px;
  }

    .contenido {
      float: left;
      width: 100%;
  
    }
    .icono {
      height: 80px;
      width: 80px;
      margin-top: 3%;
    }
  
    .icono i {
      font-size: 250%;
      padding-top: 27%;
    }

   
    .contacto {
      width: 100%;
      padding: 2% 0 0 0;
      font-size: 80%;
    }
  
    .footer-nav {
      margin: 0 auto;
      text-align: center;
      padding: 5%;
    }
  
    .footer-nav li {
      padding: 1%;
    }
  
  }